<div class='container col-md-2 ' style="float: left;">
	<div id="sidebar-wrapper">
	    <nav id="spy">
	        <ul class="sidebar-nav nav">
	            <li><h1 style="text-align:center;"><a href="">Home</a></h1></li>
	            <li>
	                <a href="#" data-toggle="collapse" data-target="#toggleDemo" data-parent="#sidenav01" class="collapsed">Categories <b>{{ categoryCount }} </b>  <span class="caret"></span> 
	                </a>
	                <div class="collapse" id="toggleDemo" style="height: 0px;">
	                    <ul class="nav nav-list">
	                        <li><a ui-sref="createCategory" href="../category/create.html">Add Category</a>  </li>
	                        <li><a ui-sref="myCategory" href="../category/my.html">View My Categories</a></li>
	                        <li><a ui-sref="allCategory" href="../category/all.html">View All Categories</a></li>
	                    </ul>
	                </div>
	            </li>
	            <li>
	                <a href="#" data-toggle="collapse" data-target="#toggleDemo1" data-parent="#sidenav01" class="collapsed">Posts <b>{{ postCount }} </b> <span class="caret"></span> 
	                </a>
	                <div class="collapse" id="toggleDemo1" style="height: 0px;">
	                    <ul class="nav nav-list">
	                        <li><a href="">Add Post</a> </li>
	                        <li><a href="">View My Posts</a></li>
	                        <li><a href="">View All Posts</a></li>
	                    </ul>
	                </div>
	            </li>
	            <li>
	                <a href="#" data-scroll="">
	                    <span>Users <b>{{ userCount }}</b></span>
	                </a>
	            </li>
	        </ul>
	    </nav>
	</div>
</div>