<ng-include src="'views/home/menu.html'"></ng-include>
<div class="container">
	<div class="row col-md-8 col-md-offset-2"> 
	    <h2>My Categories</h2>
	   
		<div ng-repeat="category in categories" class="col-sm-12 category"  id="{{category.id}}">
			<a class="col-sm-8" ui-sref="categoryPost({id: category.id})"> {{ category.name }} </a>
			<a ng-click="edit(category.id)" class="btn btn-primary col-sm-2" '>Edit</a>
			<a ng-click="delete(category.id)" class="btn btn-danger col-sm-2">Delete</a>
		</div>
	</div>
</div>